<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
	<!-- Resource is available in shared auto-configure included via pom.xml dependency-->
    <include resource="gov/va/os/reference/starter/logger/os-reference-logback-starter.xml" />
    
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        
        <springProfile name="local-int,ci,dev,stage,prod">
            <appender-ref ref="OS_REFERENCE_ASYNC_CONSOLE_APPENDER" />
        </springProfile>
    </root>
    

</configuration>