version: "3.3"

services:
  
  # Fill this out once the dev team has their app code into the repo
  ocp-vetservices-claims:
    image: ocpdev/ocp-vetservices-claims
    build:
      context: ./
    environment:
      - spring.profiles.active=local-int
      - spring.cloud.consul.host=consul
      - spring.redis.host=redis
      - spring.cloud.vault.host=vault
      - spring.cloud.consul.config.enabled=true
      - spring.cloud.consul.config.failFast=true
      - spring.cloud.consul.discovery.enabled=true
      - spring.cloud.consul.discovery.register=true
      - spring.cloud.vault.enabled=true
      - spring.cloud.vault.consul.enabled=true
      - ocp.security.jwt.enabled=true
    ports:
      - "8080:8080"
    networks:
       - bip
    entrypoint: ["/wait-for-it.sh","oracle:1521","--timeout=0","--strict", "--", "java", "-jar","/ocp-vetservices-claims.jar" ]
    depends_on:
      - consul
      - redis
      - vault
      - vault-config    
      - oracle

# Developer note: To run oracle locally in local-int profile for first time, login into dockerhub and susbsribe to the oracle image.
  oracle:
    image: store/oracle/database-enterprise:12.2.0.1
    ports:
      - "1521:1521"
    networks:
      - bip
  
  consul:
    image: ocpdev/consul:1.4.3
    build:
      context: ../local-dev/consul
    environment:
      - MASTER_ACL_TOKEN=7652ba4c-0f6e-8e75-5724-5e083d72cfe4
    ports:
      - "8500:8500"
    networks:
      - bip

  vault:
    image: vault
    ports:
      - "8200:8200"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=${VAULT_TOKEN:-vaultroot}
    networks:
      - bip

  vault-config:
    image: ocpdev/vault-config
    build:
      context: ../local-dev/vault-config
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_DEV_ROOT_TOKEN_ID=${VAULT_TOKEN:-vaultroot}
      - CONSUL_HTTP_ADDR=http://consul:8500
      - CONSUL_HTTP_TOKEN=7652ba4c-0f6e-8e75-5724-5e083d72cfe4
    networks:
      - bip
    depends_on:
      - consul
      - vault
  
  redis:
    image: redis
    networks:
      - bip
      
  prometheus:
    image:  prom/prometheus:v2.5.0
    ports:
      - "9090:9090"
    volumes: 
      - "../local-dev/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
    networks:
      - bip
    depends_on:
      - consul

  grafana:
    image:  ocpdev/grafana
    build:
      context: ../local-dev/grafana
    ports:
      - "3000:3000"
    networks:
      - bip
    depends_on:
      - prometheus      

networks:
  bip:
    driver: bridge